@import "../../assets/styles/breakpoints";
h1 {
  color: var(--primary-color);
}

.top-header {
  background-color: var(--primary-color);
  display: flex;
  padding: 10px 2.5em;
  color: var(--white);
  justify-content: space-between;
  .top-header-text {
    font-size: 0.75em;
    display: flex;
    // margin-left: 10px;
    align-items: center;
  }
  .phoneicon {
    margin-right: 5px;
  }
}

.main-header {
  height: 70px;
  display: flex;
  // border: 1px solid red;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  .logo {
    width: 20em;
  }

  .search-box {
    align-self: stretch;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    width: 40vw;
    margin: 0 20px;
    input {
      height: 70%;
      flex: 1;
      border: 1.5px solid lightgray;
      padding: 0 10px;
      outline: none;
      font-size: 1em;
      box-sizing: border-box;
      border-radius: 2px 0 0 2px;
    }
    button {
      height: 70%;
      width: 8em;
      border: 10px solid var(--primary-color);
      background-color: var(--primary-color);
      box-sizing: border-box;
      color: white;
      font-size: 1.1em;
      border-radius: 0 2px 2px 0;
    }
  }
  .userButtons {
    width: 30vw;
    // border: 1px solid black;
    display: flex;
    font-size: 01em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // flex: 1;
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        margin-left: 5px;
      }
    }
    .cart {
      display: flex;
      flex-direction: row;
      align-items: center;

      .label-div {
        margin-left: 10px;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        span {
          font-size: 0.9em;
        }
        .cart-amount {
          //   border: 1px solid green;
          span {
            margin-right: 5px;
          }
          font-size: 1.2em;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop) {
  .main-header {
    justify-content: space-between;
    // padding: 5px 0;
    height: 50px;
    .logo {
      width: 10em;
    }

    .nav-icons {
      display: flex;
      align-items: center;
      width: 15vw;
      // border: 1px solid red;
      justify-content: space-between;
    }
  }

  .top-header {
    justify-content: center;
  }
}
