.loading-container {
  position: absolute;
  background-color: white;
  border: 1px solid #eee;
  width: 70%;
  padding: 10px 0;
  top: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  left: 15%;
  display: flex;
  align-content: center;
  justify-content: center;
}
