.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  //   box-shadow: 1px 0 0 1px #000;
  height: 50px;
  background-color: white;
  z-index: 100;
  box-shadow: 0 -5px 10px -10px #333;
  //   &::before {
  //     content: "";
  //     position: fixed;
  //     // top: -10px;
  //     left: 0;
  //     width: 100%;
  //     height: 10px;
  //     box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  //     z-index: 0;
  //   }
  p {
    font-size: 0.9em;
  }
  .col-3 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    // border: 1px solid grey;
    justify-content: center !important;
    align-items: center !important;
  }
}
