@import "../../assets/styles/breakpoints";

.parent-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .container-row {
    border-radius: 20px;
    width: 90%;
    box-shadow: 5px 4px 12px 0px rgba(50, 50, 50, 0.32);
    .signup-containers {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
    }
    .left {
      justify-content: center;
      align-items: center;
      border-radius: 20px 0 0 20px;
    }
    .right {
      padding: 10px 0 30px 15px;
      border-radius: 0 20px 20px 0;
      background-color: var(--primary-color);
      form {
        padding-left: 20px;
        label {
          color: white;
        }
        .btn {
          border-radius: 20px;
        }
      }
      h1 {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop) {
  .parent-container {
    .container-row {
      .left {
        height: 220px;
      }
      .right {
        padding: 20px 10px 30px 10px;
        form {
          padding-left: 0;
        }
      }
    }
  }
}
